<footer>
  <div style="max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
    <!-- Logo Section -->
    <div style="flex: 1 1 100%; text-align: center;">
      <h2 mat-subheader class="navbar-title" style="font-size: 34px; font-weight: bold; margin-bottom: 10px; text-decoration: none;"><i class="bi bi-x-diamond-fill"></i>NatureHub</h2>

      <p>© NatureHub.in | All rights reserved</p>
    </div>

    <!-- Information Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <h3 style="font-size: 18px; margin-bottom: 10px;">Information</h3>
      <ul style="list-style: none; padding: 0;">
        <li><a routerLink="/" >Home</a></li>
        <li><a routerLink="aboutus" >About Us</a></li>
        <li><a routerLink="remedies" >Our Remedies</a></li>
        <li><a routerLink="healthtips" >Health Tips</a></li>
        <li><a routerLink="skincare" >Skincare</a></li>
        
      </ul>
    </div>

    <!-- Support Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <h3 style="font-size: 18px; margin-bottom: 10px;">Support</h3>
      <ul style="list-style: none; padding: 0;">
        <li><a routerLink="privacy">Privacy Policy</a></li>
        <li><a routerLink="cancellation">Cancellation & Refund Policy</a></li>
      </ul>
    </div>

    <!-- Connect With Us Section -->
    <div style="flex: 1 1 20%; min-width: 200px;">
      <a
    href="https://wa.me/7905917124?text=Hello%20I%20would%20like%20to%20ask%20some%20queries%20regarding%20your%20site520Nature%20Hub."
    target="_blank"
    class="whatsapp-link"
  >       <h3 style="font-size: 18px; margin-bottom: 10px;">Connect with us</h3>
</a>
  </div>

