<div class="dashboard-container d-flex">
    <!-- Sidebar -->
    <nav class="sidebar bg-success text-white p-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href ="user" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-person"></i> Profile
          </a>
        </li>
        
        <li class="nav-item">
          <a href="cart" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-cart"></i> Cart
          </a>
        </li>
        <li class="nav-item">
          <a href="bookmark" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-bookmark"></i> Bookmarks
          </a>
        </li>
      </ul>
    </nav>
  
    <!-- Main Content -->
    <div class="content flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </div>
  </div>